################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ApiServer
/ApiCore/bin
/ApiCore/obj
/LogCore/bin
/LogCore/obj
/PluginCore/bin
/PluginCore/obj
/PluginFactory/bin/Release/net5.0
/PluginFactory/obj
